/CSharpCourse/obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/.idea/.idea.CSharpCourse/.idea/contentModel.xml
/CSharpCourse/obj/Debug/net472/CSharpCourse.AssemblyInfo.cs
/CSharpCourse/obj/Debug/net472/CSharpCourse.AssemblyInfoInputs.cache
/CSharpCourse/obj/Debug/net472/CSharpCourse.assets.cache
/CSharpCourse/CSharpCourse.csproj
/CSharpCourse/obj/CSharpCourse.csproj.nuget.dgspec.json
/CSharpCourse/obj/CSharpCourse.csproj.nuget.g.props
/CSharpCourse/obj/CSharpCourse.csproj.nuget.g.targets
/CSharpCourse/obj/Debug/net472/CSharpCourse.csprojAssemblyReference.cache
/CSharpCourse/obj/Debug/net472/CSharpCourse.exe.withSupportedRuntime.config
/.idea/.idea.CSharpCourse/.idea/encodings.xml
/.idea/.idea.CSharpCourse/.idea/indexLayout.xml
/.idea/.idea.CSharpCourse/.idea/modules.xml
/CSharpCourse/obj/project.assets.json
/CSharpCourse/obj/project.nuget.cache
/CSharpCourse/obj/project.packagespec.json
/.idea/.idea.CSharpCourse/.idea/projectSettingsUpdater.xml
/CSharpCourse/obj/rider.project.restore.info
/.idea/.idea.CSharpCourse/.idea/vcs.xml
/.idea/.idea.CSharpCourse/riderModule.iml
/.idea/.idea.CSharpCourse/.idea/workspace.xml
